.main-wrapper {
  padding: 25px;
}
.main__hamburger {
  font-size: 1.5em;
  position: absolute;
  left: 25px;
  top: 25px;
  cursor: pointer;
}
@media (min-width: 757px) {
  .main__hamburger {
    display: none;
  }
}
@media (min-width: 758px) and (max-width: 992px) {
  .main-wrapper {
    margin-left: 90px;
  }
}
@media (min-width: 993px) and (max-width: 1250px) {
  .main-wrapper {
    margin-left: 60px;
  }
}
