.main__hamburger {
  font-size: 1.5em;
  position: absolute;
  left: 25px;
  top: 25px;
  cursor: pointer;
}
@media (min-width: 757px) {
  .main__hamburger {
    display: none;
  }
}
@media (min-width: 758px) and (max-width: 992px) {
  .main-wrapper {
    margin-left: 90px;
  }
}
@media (min-width: 993px) and (max-width: 1250px) {
  .main-wrapper {
    margin-left: 60px;
  }
}
.hero {
  background-image: url('../assets/img/despaired-2261021_1280.jpg');
  background-repeat: no-repeat, repeat;
  height: 80vh;
  width: 100%;
  margin: 0;
  position: relative;
}

.hero_title {
  margin: auto;
  color: rgb(8, 8, 8);
}
